# LAB 4 : Data cleansing

| Member Name                         | Student ID           |
|----------------------------------------|-----------------------|
|Kanyaluck    Chimchome            |    64070501003   |
|Boonyarit     Samran                 |    64070501028   |  	
|Warisara      Patib                     |   64070501044    |  	
|Chanidapa   Chanama                |  64070501090    |	
|Nontawat      Kunlayawuttipong  |  64070501093   	|

## importing libraries and content files

In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
cd_card = pd.read_csv("credit_card_transaction/credit_card_info.csv")
cd_tst = pd.read_csv("credit_card_transaction/credit_transaction.csv")
cd_user = pd.read_csv("credit_card_transaction/credit_users.csv")
mc_code = pd.read_csv("credit_card_transaction/mcc_codes.csv")

## viewing datatype and missing data observation

### credit card

In [33]:
cd_card.head()

,Unnamed: 0,user_id,card_index,card_brand,card_type,card_number,expires,cvv,has_chip,cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,Visa,Debit,1babcd4449ec29a14074260879c13049,12/2022,623,YES,2,$24295,09/2002,2008,No
1,1,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,1,Visa,Debit,4a3fd33483704236f3af0d3e5a602f4f,12/2020,393,YES,2,$21968,04/2014,2014,No
2,2,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,2,Visa,Debit,ea724c282ec208a9c826c2c6bc33b9c7,02/2024,719,YES,2,$46414,07/2003,2004,No
3,3,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,3,Visa,Credit,e24a12553d70b3b18e2d4b3162d82e13,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,4,Mastercard,Debit (Prepaid),65f39625b0df0d5f38860ab79ed2e713,03/2009,75,YES,1,$28,09/2008,2009,No

In [34]:
cd_card.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             732 non-null    int64
 1   user_id                732 non-null    object
 2   card_index             732 non-null    int64
 3   card_brand             732 non-null    object
 4   card_type              732 non-null    object
 5   card_number            732 non-null    object
 6   expires                732 non-null    object
 7   cvv                    732 non-null    int64
 8   has_chip               732 non-null    object
 9   cards_issued           732 non-null    int64
 10  credit_limit           732 non-null    object
 11  acct_open_date         732 non-null    object
 12  year_pin_last_changed  732 non-null    int64
 13  card_on_dark_web       732 non-null    object
dtypes: int64(5), object(9)
memory usage: 471.1 KB

### credit transaction

In [35]:
cd_tst.head()

,Unnamed: 0,transaction_datetime,user_id,card,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors,is_fraud
0,0,2002-09-01 06:21:15,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,134.09,Swipe Transaction,aec1f6b6-0713-480c-ba05-2bf31892f39c,La Verne,CA,91750.0,5300,NaN,No
1,1,2002-09-01 06:42:17,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,38.48,Swipe Transaction,9f645ffc-fa0a-44ec-8e60-7533bccf63d9,Monterey Park,CA,91754.0,5411,NaN,No
2,2,2002-09-02 06:22:57,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,120.34,Swipe Transaction,9f645ffc-fa0a-44ec-8e60-7533bccf63d9,Monterey Park,CA,91754.0,5411,NaN,No
3,3,2002-09-02 17:45:54,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,128.95,Swipe Transaction,fc611f1f-7adf-42b3-b741-1749bb07eacf,Monterey Park,CA,91754.0,5651,NaN,No
4,4,2002-09-03 06:23:01,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,104.71,Swipe Transaction,370f2dcc-3168-4b18-a6c6-8e612709695a,La Verne,CA,91750.0,5912,NaN,No

In [36]:
cd_tst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2969557 entries, 0 to 2969556
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   transaction_datetime  object
 2   user_id               object
 3   card                  int64
 4   amount                float64
 5   use_chip              object
 6   merchant_id           object
 7   merchant_city         object
 8   merchant_state        object
 9   zip                   float64
 10  mcc                   int64
 11  errors                object
 12  is_fraud              object
dtypes: float64(2), int64(3), object(8)
memory usage: 294.5+ MB

In [37]:
cd_tst.isna().sum()

Unnamed: 0                    0
transaction_datetime          0
user_id                       0
card                          0
amount                        0
use_chip                      0
merchant_id                   0
merchant_city                 0
merchant_state           377166
zip                      398187
mcc                           0
errors                  2924122
is_fraud                      0
dtype: int64

In [38]:
cd_tst_valid = cd_tst[cd_tst.errors.isna()]
cd_tst_valid = cd_tst_valid.drop(columns=["errors"]).reindex()

### credit users

In [39]:
cd_user.head()

,Unnamed: 0,user_id,person,date_of_birth,retirement_age,gender,address,apartment,city,state,zipcode,per_capita_income_zipcode,yearly_income_person,total_debt,fico_score,num_credit_cards
0,0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,Hazel Robinson,1966/11/24,66,Female,462 Rose Lane,NaN,La Verne,CA,91750,$29278,$59696,$127613,787,5
1,1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,Sasha Sadr,1966/12/25,68,Female,3606 Federal Boulevard,NaN,Little Neck,NY,11363,$37891,$77254,$191349,701,5
2,2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,Saanvi Lee,1938/11/25,67,Female,766 Third Drive,NaN,West Covina,CA,91792,$22681,$33483,$196,698,5
3,3,acab43d2-f982-47a1-9b4f-d018d069ae16,Everlee Clark,1957/1/16,63,Female,3 Madison Street,NaN,New York,NY,10069,$163145,$249925,$202328,722,4
4,4,80884e14-f347-48c3-8848-768e4c33d693,Kyle Peterson,1976/9/3,70,Male,9620 Valley Stream Drive,NaN,San Francisco,CA,94117,$53797,$109687,$183855,675,1

In [40]:
cd_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 250 non-null    int64
 1   user_id                    250 non-null    object
 2   person                     250 non-null    object
 3   date_of_birth              250 non-null    object
 4   retirement_age             250 non-null    int64
 5   gender                     250 non-null    object
 6   address                    250 non-null    object
 7   apartment                  69 non-null     float64
 8   city                       250 non-null    object
 9   state                      250 non-null    object
 10  zipcode                    250 non-null    int64
 11  per_capita_income_zipcode  250 non-null    object
 12  yearly_income_person       250 non-null    object
 13  total_debt                 250 non-null    object
 14  fico_score                 250 non-null    int64
 15  num_credit_cards           250 non-null    int64
dtypes: float64(1), int64(5), object(10)
memory usage: 31.4+ KB

In [41]:
cd_user.isna().sum()

Unnamed: 0                     0
user_id                        0
person                         0
date_of_birth                  0
retirement_age                 0
gender                         0
address                        0
apartment                    181
city                           0
state                          0
zipcode                        0
per_capita_income_zipcode      0
yearly_income_person           0
total_debt                     0
fico_score                     0
num_credit_cards               0
dtype: int64

### mcc_codes

In [42]:
mc_code.head()

,mcc,edited_description,combined_description,usda_description,irs_description,irs_reportable
0,742,Veterinary Services,Veterinary Services,Veterinary Services,Veterinary Services,Yes
1,763,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Cooperative,Yes
2,780,"Horticultural Services, Landscaping Services","Horticultural Services, Landscaping Services",Horticultural Services,Landscaping Services,Yes
3,1520,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors,Yes
4,1711,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,"Heating, Plumbing, A/C",Yes

In [43]:
mc_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   mcc                   981 non-null    int64
 1   edited_description    981 non-null    object
 2   combined_description  973 non-null    object
 3   usda_description      706 non-null    object
 4   irs_description       963 non-null    object
 5   irs_reportable        963 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.1+ KB

In [44]:
mc_code.isna().sum()

mcc                       0
edited_description        0
combined_description      8
usda_description        275
irs_description          18
irs_reportable           18
dtype: int64

## Coding

In [45]:
user_prof = pd.DataFrame()

In [46]:
user_prof["user_id"] = cd_user.user_id

1. Ages in year

In [47]:
# get referrence date from max transaction date
ref_date = max(pd.to_datetime(cd_tst.transaction_datetime))
ref_date

Timestamp('2020-02-28 23:49:03')

In [48]:
user_prof["current_age"] = (ref_date - pd.to_datetime(cd_user.date_of_birth)).dt.days // 365

2. Number of active and expired cards

In [49]:
from pandas.tseries.offsets import MonthEnd

# pd.to_datetime(cd_card["expires"]).dt.strftime('%Y-%m')
tempDate = pd.to_datetime(cd_card["expires"], format="%m/%Y")
tempExp = pd.DataFrame((tempDate - ref_date).dt.days)
tempExp["user_id"] = cd_card["user_id"]
tempExp["expired_cards"] = tempExp.expires < 0
test = tempExp.copy()
tempExp = tempExp.groupby(["user_id","expired_cards"])['expires'].agg(['count']).unstack(fill_value=0)

user_prof = pd.merge(user_prof, tempExp, on="user_id")
user_prof.columns = ['user_id', 'current_age', 'active_cards', 'expired_cards']

C:\Users\User\AppData\Local\Temp\ipykernel_15132\1348083493.py:11: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  user_prof = pd.merge(user_prof, tempExp, on="user_id")

In [50]:
user_prof

,user_id,current_age,active_cards,expired_cards
0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,53,4,1
1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,53,4,1
2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,81,4,1
3,acab43d2-f982-47a1-9b4f-d018d069ae16,63,3,1
4,80884e14-f347-48c3-8848-768e4c33d693,43,1,0
...,...,...,...,...
245,2c4e57b3-7314-48fc-8e33-3325fc13c990,18,0,1
246,9b9ce53a-d20d-499c-a1a3-4e3eb9b56917,50,2,0
247,91c1a49f-ed8d-4b31-943f-d1300b2560b6,68,2,0
248,b4fa8930-c642-49ca-be86-7b031dd46067,26,0,1
249,3314e0d1-ce54-4f22-a04e-31bb78492bda,40,1,0

3. Total credit limit of active cards

In [51]:
# Credit_limit_active
tempActiveCard = pd.DataFrame((tempDate - ref_date).dt.days)
tempActiveCard["user_id"] = cd_card['user_id']
tempActiveCard["active_cards"] = tempActiveCard.expires > 0

# Copy Dataframe
tempCl = tempActiveCard.copy()

# Add Dataframe
tempCl["credit_limit_active"] = cd_card['credit_limit']
tempCl['credit_limit_active'] = tempCl.credit_limit_active.str.extract('(\d+)').astype(int)

# Drop expired card
tempCl = tempCl[tempCl.active_cards!=False]

# Each user_id have 2 type of cards -> active / expired
# and different amount of them
tempCl = tempCl.groupby(["user_id"])['credit_limit_active'].agg(['sum']).unstack(fill_value=0).reset_index(name='credit_limit_active')

# Merge in to user_prof
user_prof = pd.merge(user_prof,tempCl, on = "user_id")
user_prof = user_prof.drop(columns='level_0')

4. Time since first card openned (acct_open_date) in months

In [52]:
# Create Dataframe to keep user_id and acct_open_date from credit_card_info
tempOC = pd.DataFrame()
tempOC["user_id"] = cd_card['user_id']
tempOC["time_since_first_card_months"] = pd.to_datetime(cd_card['acct_open_date'])

# Select min_date_time of acct_open_date in each user_id
tempOC = tempOC.groupby(["user_id"])['time_since_first_card_months'].min().reset_index()

# ref_date - min_date_time in each user_id
# and turn value in to Month
tempOC["time_since_first_card_months"] = (ref_date - tempOC['time_since_first_card_months']) // np.timedelta64(1, 'M')

# Merge in to user_prof
user_prof = pd.merge(user_prof,tempOC, on = "user_id")

5. Time since last transaction in days

In [53]:
# Create Dataframe
tempLast = pd.DataFrame()
tempLast["user_id"] = cd_tst['user_id']
tempLast["time_since_last_transaction_days"] = pd.to_datetime(cd_tst['transaction_datetime'])

# Select max_date_time of last transaction day in each user_id
tempLast = tempLast.groupby(["user_id"])['time_since_last_transaction_days'].max().reset_index()

# ref_date - max_date_time in each user_id
# and turn value in to Day
tempLast['time_since_last_transaction_days'] = (ref_date - tempLast['time_since_last_transaction_days']) // np.timedelta64(1, 'D')

# Merge in to user_prof
user_prof = pd.merge(user_prof,tempLast, on = "user_id")

6. Distribution of active card type (Debit, Credit, Prepaid)

In [54]:
# Copy Dataframe
temptypecard = tempActiveCard.copy()
temptypecard["card_type"] = cd_card['card_type']

# Drop expired card
temptypecard = temptypecard[temptypecard.active_cards!=False]
testtypecard = pd.pivot_table(temptypecard,index=['user_id'],columns=['card_type'],values=['active_cards'],aggfunc='count').fillna(0).reset_index()

# Merge in to user_prof
user_prof = pd.merge(user_prof,testtypecard, on = "user_id")

# Rename columns
# Credit             ->     active_card_credit
# Debit              ->     active_card_debit
# Debit (Prepaid)    ->     active_card_debit_(prepaid)
user_prof = user_prof.rename(columns={('active_cards', 'Credit'):"active_card_credit",('active_cards', 'Debit'):"active_card_debit",('active_cards', 'Debit (Prepaid)'):"active_card_debit_(prepaid)"})

C:\Users\User\AppData\Local\Temp\ipykernel_15132\2253874937.py:10: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  user_prof = pd.merge(user_prof,testtypecard, on = "user_id")
C:\Users\User\AppData\Local\Temp\ipykernel_15132\2253874937.py:10: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  user_prof = pd.merge(user_prof,testtypecard, on = "user_id")

7. Number of merchants that this user made transaction

In [55]:
# Create Dataframe to keep user_id and merchant_id from credit_transaction
tempM = pd.DataFrame()
tempM["user_id"] = cd_tst['user_id']
tempM["num_merchants"] = cd_tst['merchant_id']

# Each user_id have different number of merchants
tempM = tempM.groupby(["user_id"]).agg({"num_merchants":"nunique"})

# Merge in to user_prof
user_prof = pd.merge(user_prof,tempM, on = "user_id")

8. Number of states that this user made transaction

In [56]:
# Create Dataframe to keep user_id and merchant_state from credit_transaction
tempstates = pd.DataFrame()
tempstates["user_id"] = cd_tst['user_id']
tempstates["num_states"] = cd_tst['merchant_state']

# Each user_id have different number of states
tempstates = tempstates.groupby(["user_id"]).agg({"num_states":"nunique"})

# Merge in to user_prof
user_prof = pd.merge(user_prof,tempstates, on = "user_id")

9. Number of times that user made transaction outside the USA (online transaction counts as nonUSA transaction)

In [57]:
# Create Dataframe to keep user_id and merchant_city from credit_transaction
tempnonUSA = pd.DataFrame()
tempnonUSA["user_id"] = cd_tst['user_id']
tempnonUSA["abroad_tx"] = cd_tst['merchant_city']

# Check if value in abroad_tx is "ONLINE" then return True
#       if not return False
tempnonUSA['abroad_tx'] = tempnonUSA['abroad_tx'].isin(['ONLINE'])

# Then keep row that return True
tempnonUSA = tempnonUSA[tempnonUSA.abroad_tx == True]

# Each user_id have different nonUSA transaction times
tempnonUSA = tempnonUSA.groupby(["user_id"]).agg({"abroad_tx":"size"}).reset_index()

# Merge in to user_prof
user_prof = pd.merge(user_prof,tempnonUSA, on = "user_id",how = "left")

In [58]:
user_prof.head(10)

,user_id,current_age,active_cards,expired_cards,credit_limit_active,time_since_first_card_months,time_since_last_transaction_days,active_card_credit,active_card_debit,active_card_debit_(prepaid),num_merchants,num_states,abroad_tx
0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,53,4,1,105077,209,0,1.0,3.0,0.0,552,40,1317.0
1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,53,4,1,37683,199,1,0.0,2.0,2.0,337,47,670.0
2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,81,4,1,106597,215,0,0.0,4.0,0.0,727,40,16405.0
3,acab43d2-f982-47a1-9b4f-d018d069ae16,63,3,1,258224,156,0,0.0,2.0,1.0,655,66,996.0
4,80884e14-f347-48c3-8848-768e4c33d693,43,1,0,34900,242,0,0.0,1.0,0.0,624,48,2237.0
5,709c2790-8f93-4e27-83fb-dad9ea3647c3,42,2,1,25700,217,0,2.0,0.0,0.0,303,36,927.0
6,fddc40fe-3311-4cb4-aaf4-44f0c4085ac7,36,3,0,67917,176,0,1.0,2.0,0.0,411,45,9137.0
7,f0f1033b-aaa1-4e81-aa02-ed10b788a08d,26,1,0,17480,1,0,0.0,1.0,0.0,34,1,11.0
8,ca371403-8abe-459b-873b-0aa1e61557a5,81,4,1,74599,181,0,2.0,2.0,0.0,543,35,5984.0
9,eda2429c-2528-4ab0-9ba0-ec0f541433db,34,1,0,9496,127,0,0.0,1.0,0.0,256,26,446.0

10. All-time transaction count

In [59]:
# all_time_tx_count
temp = cd_tst.groupby(['user_id'])\
    .agg({'user_id':'count'})\
    .rename(columns={'user_id': 'all_time_tx_count'})

# add all_time_tx_count to user_prof
user_prof = user_prof.merge(temp, how = 'left',on = 'user_id')
user_prof.head()

,user_id,current_age,active_cards,expired_cards,credit_limit_active,time_since_first_card_months,time_since_last_transaction_days,active_card_credit,active_card_debit,active_card_debit_(prepaid),num_merchants,num_states,abroad_tx,all_time_tx_count
0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,53,4,1,105077,209,0,1.0,3.0,0.0,552,40,1317.0,19963
1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,53,4,1,37683,199,1,0.0,2.0,2.0,337,47,670.0,8919
2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,81,4,1,106597,215,0,0.0,4.0,0.0,727,40,16405.0,41978
3,acab43d2-f982-47a1-9b4f-d018d069ae16,63,3,1,258224,156,0,0.0,2.0,1.0,655,66,996.0,10117
4,80884e14-f347-48c3-8848-768e4c33d693,43,1,0,34900,242,0,0.0,1.0,0.0,624,48,2237.0,18542

11. All-time amount used

In [60]:
# all_time_amount_used
temp = cd_tst_valid.groupby(['user_id'])\
    .agg({'amount':sum})\
    .rename(columns={'amount':'all_time_amount_used'})

# add all_time_amount_used to user_prof
user_prof = user_prof.merge(temp, how = 'left',on = 'user_id')
user_prof.head()

,user_id,current_age,active_cards,expired_cards,credit_limit_active,time_since_first_card_months,time_since_last_transaction_days,active_card_credit,active_card_debit,active_card_debit_(prepaid),num_merchants,num_states,abroad_tx,all_time_tx_count,all_time_amount_used
0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,53,4,1,105077,209,0,1.0,3.0,0.0,552,40,1317.0,19963,1564171.34
1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,53,4,1,37683,199,1,0.0,2.0,2.0,337,47,670.0,8919,706708.11
2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,81,4,1,106597,215,0,0.0,4.0,0.0,727,40,16405.0,41978,1445988.55
3,acab43d2-f982-47a1-9b4f-d018d069ae16,63,3,1,258224,156,0,0.0,2.0,1.0,655,66,996.0,10117,1160320.88
4,80884e14-f347-48c3-8848-768e4c33d693,43,1,0,34900,242,0,0.0,1.0,0.0,624,48,2237.0,18542,1769066.67

12. All-time median amount per transaction

In [61]:
# All-time median amount per transaction
temp = cd_tst_valid.groupby(['user_id'])\
    .agg({'amount': 'median'})\
    .rename(columns={'amount':'all_time_median_amount_per_tx'})

# add all_time_median_amount_per_tx to user_prof
user_prof = user_prof.merge(temp, how = 'left',on = 'user_id')
user_prof.head()

,user_id,current_age,active_cards,expired_cards,credit_limit_active,time_since_first_card_months,time_since_last_transaction_days,active_card_credit,active_card_debit,active_card_debit_(prepaid),num_merchants,num_states,abroad_tx,all_time_tx_count,all_time_amount_used,all_time_median_amount_per_tx
0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,53,4,1,105077,209,0,1.0,3.0,0.0,552,40,1317.0,19963,1564171.34,67.66
1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,53,4,1,37683,199,1,0.0,2.0,2.0,337,47,670.0,8919,706708.11,67.61
2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,81,4,1,106597,215,0,0.0,4.0,0.0,727,40,16405.0,41978,1445988.55,34.19
3,acab43d2-f982-47a1-9b4f-d018d069ae16,63,3,1,258224,156,0,0.0,2.0,1.0,655,66,996.0,10117,1160320.88,55.00
4,80884e14-f347-48c3-8848-768e4c33d693,43,1,0,34900,242,0,0.0,1.0,0.0,624,48,2237.0,18542,1769066.67,88.20

13. All-time number of fraud transaction

In [62]:
# All-time number of fraud transaction
temp = cd_tst[cd_tst['is_fraud'] == 'Yes'][['user_id', 'is_fraud']]

temp = temp.groupby('user_id')\
    .agg({'is_fraud': 'count'})\
    .rename(columns={'is_fraud':'all_time_fraud_tx_count'})

# add all_time_fraud_tx_count to user_prof
user_prof = user_prof.merge(temp, how = 'left',on = 'user_id')
user_prof['all_time_fraud_tx_count'] = user_prof['all_time_fraud_tx_count'].fillna(0) # NaN mean they never fraud( fraud always 'No')
user_prof.head()

,user_id,current_age,active_cards,expired_cards,credit_limit_active,time_since_first_card_months,time_since_last_transaction_days,active_card_credit,active_card_debit,active_card_debit_(prepaid),num_merchants,num_states,abroad_tx,all_time_tx_count,all_time_amount_used,all_time_median_amount_per_tx,all_time_fraud_tx_count
0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,53,4,1,105077,209,0,1.0,3.0,0.0,552,40,1317.0,19963,1564171.34,67.66,27.0
1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,53,4,1,37683,199,1,0.0,2.0,2.0,337,47,670.0,8919,706708.11,67.61,33.0
2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,81,4,1,106597,215,0,0.0,4.0,0.0,727,40,16405.0,41978,1445988.55,34.19,44.0
3,acab43d2-f982-47a1-9b4f-d018d069ae16,63,3,1,258224,156,0,0.0,2.0,1.0,655,66,996.0,10117,1160320.88,55.00,20.0
4,80884e14-f347-48c3-8848-768e4c33d693,43,1,0,34900,242,0,0.0,1.0,0.0,624,48,2237.0,18542,1769066.67,88.20,2.0

14. All-time number of refunded transaction (negative amount)

In [63]:
# get only refunded transction
temp = cd_tst[cd_tst['amount'] < 0 ][['user_id', 'amount']]

# All-time number of refunded transaction (negative amount)
temp = temp.groupby(['user_id'])\
    .agg({'amount': 'count'})\
    .rename(columns={'amount':'all_time_refunded_tx_count'})

# add all_time_refunded_tx_count to user_prof
user_prof = user_prof.merge(temp, how = 'left',on = 'user_id')
del temp
user_prof.head()

,user_id,current_age,active_cards,expired_cards,credit_limit_active,time_since_first_card_months,time_since_last_transaction_days,active_card_credit,active_card_debit,active_card_debit_(prepaid),num_merchants,num_states,abroad_tx,all_time_tx_count,all_time_amount_used,all_time_median_amount_per_tx,all_time_fraud_tx_count,all_time_refunded_tx_count
0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,53,4,1,105077,209,0,1.0,3.0,0.0,552,40,1317.0,19963,1564171.34,67.66,27.0,650.0
1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,53,4,1,37683,199,1,0.0,2.0,2.0,337,47,670.0,8919,706708.11,67.61,33.0,405.0
2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,81,4,1,106597,215,0,0.0,4.0,0.0,727,40,16405.0,41978,1445988.55,34.19,44.0,673.0
3,acab43d2-f982-47a1-9b4f-d018d069ae16,63,3,1,258224,156,0,0.0,2.0,1.0,655,66,996.0,10117,1160320.88,55.00,20.0,557.0
4,80884e14-f347-48c3-8848-768e4c33d693,43,1,0,34900,242,0,0.0,1.0,0.0,624,48,2237.0,18542,1769066.67,88.20,2.0,295.0