# LAB 4 : Data cleansing

| Member Name                         | Student ID           |
|----------------------------------------|-----------------------|
|Kanyaluck    Chimchome            |    64070501003   |
|Boonyarit     Samran                 |    64070501028   |  	
|Warisara      Patib                     |   64070501044    |  	
|Chanidapa   Chanama                |  64070501090    |	
|Nontawat      Kunlayawuttipong  |  64070501093   	|

## importing libraries and content files

In [559]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [560]:
cd_card = pd.read_csv("credit_card_transaction/credit_card_info.csv")
cd_tst = pd.read_csv("credit_card_transaction/credit_transaction.csv")
cd_user = pd.read_csv("credit_card_transaction/credit_users.csv")
mc_code = pd.read_csv("credit_card_transaction/mcc_codes.csv")

## viewing datatype and missing data observation

### credit card

In [578]:
cd_card.head()

,Unnamed: 0,user_id,card_index,card_brand,card_type,card_number,expires,cvv,has_chip,cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,Visa,Debit,1babcd4449ec29a14074260879c13049,12/2022,623,YES,2,$24295,09/2002,2008,No
1,1,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,1,Visa,Debit,4a3fd33483704236f3af0d3e5a602f4f,12/2020,393,YES,2,$21968,04/2014,2014,No
2,2,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,2,Visa,Debit,ea724c282ec208a9c826c2c6bc33b9c7,02/2024,719,YES,2,$46414,07/2003,2004,No
3,3,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,3,Visa,Credit,e24a12553d70b3b18e2d4b3162d82e13,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,4,Mastercard,Debit (Prepaid),65f39625b0df0d5f38860ab79ed2e713,03/2009,75,YES,1,$28,09/2008,2009,No

In [562]:
cd_card.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             732 non-null    int64
 1   user_id                732 non-null    object
 2   card_index             732 non-null    int64
 3   card_brand             732 non-null    object
 4   card_type              732 non-null    object
 5   card_number            732 non-null    object
 6   expires                732 non-null    object
 7   cvv                    732 non-null    int64
 8   has_chip               732 non-null    object
 9   cards_issued           732 non-null    int64
 10  credit_limit           732 non-null    object
 11  acct_open_date         732 non-null    object
 12  year_pin_last_changed  732 non-null    int64
 13  card_on_dark_web       732 non-null    object
dtypes: int64(5), object(9)
memory usage: 471.1 KB

### credit transaction

In [563]:
cd_tst.head()

,Unnamed: 0,transaction_datetime,user_id,card,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors,is_fraud
0,0,2002-09-01 06:21:15,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,134.09,Swipe Transaction,aec1f6b6-0713-480c-ba05-2bf31892f39c,La Verne,CA,91750.0,5300,NaN,No
1,1,2002-09-01 06:42:17,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,38.48,Swipe Transaction,9f645ffc-fa0a-44ec-8e60-7533bccf63d9,Monterey Park,CA,91754.0,5411,NaN,No
2,2,2002-09-02 06:22:57,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,120.34,Swipe Transaction,9f645ffc-fa0a-44ec-8e60-7533bccf63d9,Monterey Park,CA,91754.0,5411,NaN,No
3,3,2002-09-02 17:45:54,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,128.95,Swipe Transaction,fc611f1f-7adf-42b3-b741-1749bb07eacf,Monterey Park,CA,91754.0,5651,NaN,No
4,4,2002-09-03 06:23:01,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,104.71,Swipe Transaction,370f2dcc-3168-4b18-a6c6-8e612709695a,La Verne,CA,91750.0,5912,NaN,No

In [564]:
cd_tst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2969557 entries, 0 to 2969556
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   transaction_datetime  object
 2   user_id               object
 3   card                  int64
 4   amount                float64
 5   use_chip              object
 6   merchant_id           object
 7   merchant_city         object
 8   merchant_state        object
 9   zip                   float64
 10  mcc                   int64
 11  errors                object
 12  is_fraud              object
dtypes: float64(2), int64(3), object(8)
memory usage: 294.5+ MB

In [565]:
cd_tst.isna().sum()

Unnamed: 0                    0
transaction_datetime          0
user_id                       0
card                          0
amount                        0
use_chip                      0
merchant_id                   0
merchant_city                 0
merchant_state           377166
zip                      398187
mcc                           0
errors                  2924122
is_fraud                      0
dtype: int64

### credit users

In [566]:
cd_user.head()

,Unnamed: 0,user_id,person,date_of_birth,retirement_age,gender,address,apartment,city,state,zipcode,per_capita_income_zipcode,yearly_income_person,total_debt,fico_score,num_credit_cards
0,0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,Hazel Robinson,1966/11/24,66,Female,462 Rose Lane,NaN,La Verne,CA,91750,$29278,$59696,$127613,787,5
1,1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,Sasha Sadr,1966/12/25,68,Female,3606 Federal Boulevard,NaN,Little Neck,NY,11363,$37891,$77254,$191349,701,5
2,2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,Saanvi Lee,1938/11/25,67,Female,766 Third Drive,NaN,West Covina,CA,91792,$22681,$33483,$196,698,5
3,3,acab43d2-f982-47a1-9b4f-d018d069ae16,Everlee Clark,1957/1/16,63,Female,3 Madison Street,NaN,New York,NY,10069,$163145,$249925,$202328,722,4
4,4,80884e14-f347-48c3-8848-768e4c33d693,Kyle Peterson,1976/9/3,70,Male,9620 Valley Stream Drive,NaN,San Francisco,CA,94117,$53797,$109687,$183855,675,1

In [567]:
cd_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 250 non-null    int64
 1   user_id                    250 non-null    object
 2   person                     250 non-null    object
 3   date_of_birth              250 non-null    object
 4   retirement_age             250 non-null    int64
 5   gender                     250 non-null    object
 6   address                    250 non-null    object
 7   apartment                  69 non-null     float64
 8   city                       250 non-null    object
 9   state                      250 non-null    object
 10  zipcode                    250 non-null    int64
 11  per_capita_income_zipcode  250 non-null    object
 12  yearly_income_person       250 non-null    object
 13  total_debt                 250 non-null    object
 14  fico_score                 250 non-null    int64
 15  num_credit_cards           250 non-null    int64
dtypes: float64(1), int64(5), object(10)
memory usage: 31.4+ KB

In [568]:
cd_user.isna().sum()

Unnamed: 0                     0
user_id                        0
person                         0
date_of_birth                  0
retirement_age                 0
gender                         0
address                        0
apartment                    181
city                           0
state                          0
zipcode                        0
per_capita_income_zipcode      0
yearly_income_person           0
total_debt                     0
fico_score                     0
num_credit_cards               0
dtype: int64

### mcc_codes

In [569]:
mc_code.head()

,mcc,edited_description,combined_description,usda_description,irs_description,irs_reportable
0,742,Veterinary Services,Veterinary Services,Veterinary Services,Veterinary Services,Yes
1,763,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Cooperative,Yes
2,780,"Horticultural Services, Landscaping Services","Horticultural Services, Landscaping Services",Horticultural Services,Landscaping Services,Yes
3,1520,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors,Yes
4,1711,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,"Heating, Plumbing, A/C",Yes

In [570]:
mc_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   mcc                   981 non-null    int64
 1   edited_description    981 non-null    object
 2   combined_description  973 non-null    object
 3   usda_description      706 non-null    object
 4   irs_description       963 non-null    object
 5   irs_reportable        963 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.1+ KB

In [571]:
mc_code.isna().sum()

mcc                       0
edited_description        0
combined_description      8
usda_description        275
irs_description          18
irs_reportable           18
dtype: int64

## Coding

In [572]:
user_prof = pd.DataFrame()

In [573]:
user_prof["user_id"] = cd_user.user_id

1. Ages in year

In [574]:
# get referrence date from max transaction date
ref_date = max(pd.to_datetime(cd_tst.transaction_datetime))
ref_date

Timestamp('2020-02-28 23:49:03')

In [575]:
user_prof["current_age"] = (ref_date - pd.to_datetime(cd_user.date_of_birth)).dt.days // 365

2. Number of active and expired cards

In [576]:
from pandas.tseries.offsets import MonthEnd

# pd.to_datetime(cd_card["expires"]).dt.strftime('%Y-%m')
tempDate = pd.to_datetime(cd_card["expires"], format="%m/%Y")
tempExp = pd.DataFrame((tempDate - ref_date).dt.days)

tempExp["user_id"] = cd_card["user_id"]
tempExp["expired_cards"] = tempExp.expires < 0
test = tempExp.copy()
tempExp = tempExp.groupby(["user_id","expired_cards"])['expires'].agg(['count']).unstack(fill_value=0)

user_prof = pd.merge(user_prof, tempExp, on="user_id")
user_prof.columns = ['user_id', 'current_age', 'active_cards', 'expired_cards']

C:\Users\User\AppData\Local\Temp\ipykernel_108\475938028.py:12: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  user_prof = pd.merge(user_prof, tempExp, on="user_id")

In [577]:
user_prof

,user_id,current_age,active_cards,expired_cards
0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,53,4,1
1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,53,4,1
2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,81,4,1
3,acab43d2-f982-47a1-9b4f-d018d069ae16,63,3,1
4,80884e14-f347-48c3-8848-768e4c33d693,43,1,0
...,...,...,...,...
245,2c4e57b3-7314-48fc-8e33-3325fc13c990,18,0,1
246,9b9ce53a-d20d-499c-a1a3-4e3eb9b56917,50,2,0
247,91c1a49f-ed8d-4b31-943f-d1300b2560b6,68,2,0
248,b4fa8930-c642-49ca-be86-7b031dd46067,26,0,1
249,3314e0d1-ce54-4f22-a04e-31bb78492bda,40,1,0

3. Total credit limit of active cards

4. Time since first card openned (acct_open_date) in months