# LAB 4 : Data cleansing

| Member Name                         | Student ID           |
|----------------------------------------|-----------------------|
|Kanyaluck    Chimchome            |    64070501003   |
|Boonyarit     Samran                 |    64070501028   |  	
|Warisara      Patib                     |   64070501044    |  	
|Chanidapa   Chanama                |  64070501090    |	
|Nontawat      Kunlayawuttipong  |  64070501093   	|

## importing libraries and content files

In [108]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [109]:
cd_card = pd.read_csv("credit_card_transaction/credit_card_info.csv")
cd_tst = pd.read_csv("credit_card_transaction/credit_transaction.csv")
cd_user = pd.read_csv("credit_card_transaction/credit_users.csv")
mc_code = pd.read_csv("credit_card_transaction/mcc_codes.csv")

## viewing datatype and missing data observation

### credit card

In [110]:
cd_card.head()

,Unnamed: 0,user_id,card_index,card_brand,card_type,card_number,expires,cvv,has_chip,cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,Visa,Debit,1babcd4449ec29a14074260879c13049,12/2022,623,YES,2,$24295,09/2002,2008,No
1,1,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,1,Visa,Debit,4a3fd33483704236f3af0d3e5a602f4f,12/2020,393,YES,2,$21968,04/2014,2014,No
2,2,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,2,Visa,Debit,ea724c282ec208a9c826c2c6bc33b9c7,02/2024,719,YES,2,$46414,07/2003,2004,No
3,3,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,3,Visa,Credit,e24a12553d70b3b18e2d4b3162d82e13,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,4,Mastercard,Debit (Prepaid),65f39625b0df0d5f38860ab79ed2e713,03/2009,75,YES,1,$28,09/2008,2009,No

In [111]:
cd_card.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             732 non-null    int64
 1   user_id                732 non-null    object
 2   card_index             732 non-null    int64
 3   card_brand             732 non-null    object
 4   card_type              732 non-null    object
 5   card_number            732 non-null    object
 6   expires                732 non-null    object
 7   cvv                    732 non-null    int64
 8   has_chip               732 non-null    object
 9   cards_issued           732 non-null    int64
 10  credit_limit           732 non-null    object
 11  acct_open_date         732 non-null    object
 12  year_pin_last_changed  732 non-null    int64
 13  card_on_dark_web       732 non-null    object
dtypes: int64(5), object(9)
memory usage: 471.1 KB

### credit transaction

In [112]:
cd_tst.head()

,Unnamed: 0,transaction_datetime,user_id,card,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors,is_fraud
0,0,2002-09-01 06:21:15,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,134.09,Swipe Transaction,aec1f6b6-0713-480c-ba05-2bf31892f39c,La Verne,CA,91750.0,5300,NaN,No
1,1,2002-09-01 06:42:17,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,38.48,Swipe Transaction,9f645ffc-fa0a-44ec-8e60-7533bccf63d9,Monterey Park,CA,91754.0,5411,NaN,No
2,2,2002-09-02 06:22:57,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,120.34,Swipe Transaction,9f645ffc-fa0a-44ec-8e60-7533bccf63d9,Monterey Park,CA,91754.0,5411,NaN,No
3,3,2002-09-02 17:45:54,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,128.95,Swipe Transaction,fc611f1f-7adf-42b3-b741-1749bb07eacf,Monterey Park,CA,91754.0,5651,NaN,No
4,4,2002-09-03 06:23:01,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,104.71,Swipe Transaction,370f2dcc-3168-4b18-a6c6-8e612709695a,La Verne,CA,91750.0,5912,NaN,No

In [113]:
cd_tst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2969557 entries, 0 to 2969556
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   transaction_datetime  object
 2   user_id               object
 3   card                  int64
 4   amount                float64
 5   use_chip              object
 6   merchant_id           object
 7   merchant_city         object
 8   merchant_state        object
 9   zip                   float64
 10  mcc                   int64
 11  errors                object
 12  is_fraud              object
dtypes: float64(2), int64(3), object(8)
memory usage: 294.5+ MB

In [114]:
cd_tst.isna().sum()

Unnamed: 0                    0
transaction_datetime          0
user_id                       0
card                          0
amount                        0
use_chip                      0
merchant_id                   0
merchant_city                 0
merchant_state           377166
zip                      398187
mcc                           0
errors                  2924122
is_fraud                      0
dtype: int64

In [115]:
cd_tst[~ cd_tst.errors.isna()].errors.unique()

array(['Technical Glitch', 'Insufficient Balance', 'Bad PIN',
       'Bad PIN,Insufficient Balance', 'Bad Expiration',
       'Bad PIN,Technical Glitch', 'Bad Card Number', 'Bad CVV',
       'Bad Zipcode', 'Insufficient Balance,Technical Glitch',
       'Bad Card Number,Insufficient Balance', 'Bad Card Number,Bad CVV',
       'Bad CVV,Insufficient Balance', 'Bad Card Number,Bad Expiration',
       'Bad Expiration,Bad CVV', 'Bad Expiration,Insufficient Balance',
       'Bad Expiration,Technical Glitch',
       'Bad Card Number,Bad Expiration,Technical Glitch',
       'Bad CVV,Technical Glitch', 'Bad Card Number,Technical Glitch'],
      dtype=object)

In [116]:
cd_tst_valid = cd_tst[cd_tst.errors.isna()]
cd_tst_valid = cd_tst_valid.drop(columns=["errors"]).reindex()
cd_tst_valid[cd_tst_valid['use_chip'] == "Online Transaction"]
# cd_tst_valid.isna().sum()

,Unnamed: 0,transaction_datetime,user_id,card,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,is_fraud
11,11,2002-09-05 20:41:22,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,53.91,Online Transaction,24f3f289-8101-4bb1-82cd-2686fd2d8698,ONLINE,NaN,NaN,4900,No
24,24,2002-09-09 20:02:04,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,144.90,Online Transaction,0160387f-c11d-4bf0-9424-b8a8fd22eb64,ONLINE,NaN,NaN,4899,No
85,85,2002-09-30 06:21:52,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,127.32,Online Transaction,06ee0b3e-871a-4172-8235-64ceefaff689,ONLINE,NaN,NaN,5311,No
99,99,2002-10-06 06:14:43,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,139.39,Online Transaction,06ee0b3e-871a-4172-8235-64ceefaff689,ONLINE,NaN,NaN,5311,No
106,106,2002-10-09 08:16:45,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,53.09,Online Transaction,be791ec8-4934-4c01-8e4f-efdaebdac745,ONLINE,NaN,NaN,5193,No
...,...,...,...,...,...,...,...,...,...,...,...,...
2969538,2969538,2020-02-25 11:47:36,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,116.33,Online Transaction,06ee0b3e-871a-4172-8235-64ceefaff689,ONLINE,NaN,NaN,5311,No
2969544,2969544,2020-02-26 18:32:17,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,38.95,Online Transaction,e4696d1a-0fe7-4d21-adcf-e35652612304,ONLINE,NaN,NaN,4121,No
2969545,2969545,2020-02-26 19:21:20,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,40.89,Online Transaction,e4696d1a-0fe7-4d21-adcf-e35652612304,ONLINE,NaN,NaN,4121,No
2969549,2969549,2020-02-27 19:01:13,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,25.93,Online Transaction,e4696d1a-0fe7-4d21-adcf-e35652612304,ONLINE,NaN,NaN,4121,No
2969555,2969555,2020-02-28 19:04:22,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,36.35,Online Transaction,e4696d1a-0fe7-4d21-adcf-e35652612304,ONLINE,NaN,NaN,4121,No

In [117]:
cd_tst_valid[cd_tst_valid.zip.isna()][~ cd_tst_valid["merchant_state"].isna()]
cd_tst_valid

C:\Users\User\AppData\Local\Temp\ipykernel_16556\2538945856.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cd_tst_valid[cd_tst_valid.zip.isna()][~ cd_tst_valid["merchant_state"].isna()]

,Unnamed: 0,transaction_datetime,user_id,card,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,is_fraud
0,0,2002-09-01 06:21:15,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,134.09,Swipe Transaction,aec1f6b6-0713-480c-ba05-2bf31892f39c,La Verne,CA,91750.0,5300,No
1,1,2002-09-01 06:42:17,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,38.48,Swipe Transaction,9f645ffc-fa0a-44ec-8e60-7533bccf63d9,Monterey Park,CA,91754.0,5411,No
2,2,2002-09-02 06:22:57,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,120.34,Swipe Transaction,9f645ffc-fa0a-44ec-8e60-7533bccf63d9,Monterey Park,CA,91754.0,5411,No
3,3,2002-09-02 17:45:54,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,128.95,Swipe Transaction,fc611f1f-7adf-42b3-b741-1749bb07eacf,Monterey Park,CA,91754.0,5651,No
4,4,2002-09-03 06:23:01,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,104.71,Swipe Transaction,370f2dcc-3168-4b18-a6c6-8e612709695a,La Verne,CA,91750.0,5912,No
...,...,...,...,...,...,...,...,...,...,...,...,...
2969552,2969552,2020-02-28 05:37:13,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,87.22,Swipe Transaction,d53ffcc0-3e21-4330-9cd5-a5881ebf9fc1,San Antonio,TX,78248.0,5310,No
2969553,2969553,2020-02-28 12:10:16,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,199.95,Swipe Transaction,e0174d7f-77e8-4867-80f0-efe15dadce35,San Antonio,TX,78250.0,3504,No
2969554,2969554,2020-02-28 12:13:15,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,-255.00,Swipe Transaction,e0174d7f-77e8-4867-80f0-efe15dadce35,San Antonio,TX,78250.0,3504,No
2969555,2969555,2020-02-28 19:04:22,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,36.35,Online Transaction,e4696d1a-0fe7-4d21-adcf-e35652612304,ONLINE,NaN,NaN,4121,No
2969556,2969556,2020-02-28 22:09:28,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,124.24,Swipe Transaction,32492eaa-09a5-4887-a44b-8601e6588c02,Oklahoma City,OK,73153.0,5812,No

In [118]:
cd_tst_errors = cd_tst[~ cd_tst.errors.isna()]
cd_tst_errors

,Unnamed: 0,transaction_datetime,user_id,card,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors,is_fraud
21,21,2002-09-09 09:40:17,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,65.50,Swipe Transaction,832d7842-b59b-4570-be66-4a0be7bc2dfa,La Verne,CA,91750.0,7538,Technical Glitch,No
35,35,2002-09-12 06:21:57,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,122.10,Swipe Transaction,9e4f46c3-28b5-4540-b038-9f24d48c3a3c,La Verne,CA,91750.0,5411,Insufficient Balance,No
49,49,2002-09-17 06:09:02,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,120.19,Swipe Transaction,e810d1be-79de-465c-80df-a711fb52f36b,La Verne,CA,91750.0,5912,Insufficient Balance,No
55,55,2002-09-20 06:01:11,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,104.77,Swipe Transaction,cfa34898-fd86-435d-9a83-eeb0125b084b,La Verne,CA,91750.0,5311,Insufficient Balance,No
81,81,2002-09-29 06:06:54,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,0,119.61,Swipe Transaction,370f2dcc-3168-4b18-a6c6-8e612709695a,La Verne,CA,91750.0,5912,Insufficient Balance,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2969224,2969224,2019-12-19 06:10:49,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,107.49,Swipe Transaction,a7a9684a-1922-48e2-a3e8-b0a4585d1e83,Oklahoma City,OK,73151.0,7230,Bad PIN,No
2969290,2969290,2020-01-03 09:52:25,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,4.18,Swipe Transaction,32492eaa-09a5-4887-a44b-8601e6588c02,Oklahoma City,OK,73153.0,5812,Bad PIN,No
2969302,2969302,2020-01-05 07:12:58,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,201.06,Swipe Transaction,8d8f3629-4c56-4d18-a2ef-f45c67a01a15,Oklahoma City,OK,73159.0,5912,Bad PIN,No
2969368,2969368,2020-01-17 09:36:29,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,4.99,Swipe Transaction,5a51af6f-5bee-4928-857b-b78f560ad902,Oklahoma City,OK,73159.0,5411,Insufficient Balance,No
2969504,2969504,2020-02-18 17:40:13,3314e0d1-ce54-4f22-a04e-31bb78492bda,0,180.65,Swipe Transaction,e0174d7f-77e8-4867-80f0-efe15dadce35,San Antonio,TX,78250.0,3504,Technical Glitch,No

### credit users

In [119]:
cd_user.head()

,Unnamed: 0,user_id,person,date_of_birth,retirement_age,gender,address,apartment,city,state,zipcode,per_capita_income_zipcode,yearly_income_person,total_debt,fico_score,num_credit_cards
0,0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,Hazel Robinson,1966/11/24,66,Female,462 Rose Lane,NaN,La Verne,CA,91750,$29278,$59696,$127613,787,5
1,1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,Sasha Sadr,1966/12/25,68,Female,3606 Federal Boulevard,NaN,Little Neck,NY,11363,$37891,$77254,$191349,701,5
2,2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,Saanvi Lee,1938/11/25,67,Female,766 Third Drive,NaN,West Covina,CA,91792,$22681,$33483,$196,698,5
3,3,acab43d2-f982-47a1-9b4f-d018d069ae16,Everlee Clark,1957/1/16,63,Female,3 Madison Street,NaN,New York,NY,10069,$163145,$249925,$202328,722,4
4,4,80884e14-f347-48c3-8848-768e4c33d693,Kyle Peterson,1976/9/3,70,Male,9620 Valley Stream Drive,NaN,San Francisco,CA,94117,$53797,$109687,$183855,675,1

In [120]:
cd_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 250 non-null    int64
 1   user_id                    250 non-null    object
 2   person                     250 non-null    object
 3   date_of_birth              250 non-null    object
 4   retirement_age             250 non-null    int64
 5   gender                     250 non-null    object
 6   address                    250 non-null    object
 7   apartment                  69 non-null     float64
 8   city                       250 non-null    object
 9   state                      250 non-null    object
 10  zipcode                    250 non-null    int64
 11  per_capita_income_zipcode  250 non-null    object
 12  yearly_income_person       250 non-null    object
 13  total_debt                 250 non-null    object
 14  fico_score                 250 non-null    int64
 15  num_credit_cards           250 non-null    int64
dtypes: float64(1), int64(5), object(10)
memory usage: 31.4+ KB

In [121]:
cd_user.isna().sum()

Unnamed: 0                     0
user_id                        0
person                         0
date_of_birth                  0
retirement_age                 0
gender                         0
address                        0
apartment                    181
city                           0
state                          0
zipcode                        0
per_capita_income_zipcode      0
yearly_income_person           0
total_debt                     0
fico_score                     0
num_credit_cards               0
dtype: int64

### mcc_codes

In [122]:
mc_code.head()

,mcc,edited_description,combined_description,usda_description,irs_description,irs_reportable
0,742,Veterinary Services,Veterinary Services,Veterinary Services,Veterinary Services,Yes
1,763,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Cooperative,Yes
2,780,"Horticultural Services, Landscaping Services","Horticultural Services, Landscaping Services",Horticultural Services,Landscaping Services,Yes
3,1520,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors,Yes
4,1711,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,"Heating, Plumbing, A/C",Yes

In [123]:
mc_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   mcc                   981 non-null    int64
 1   edited_description    981 non-null    object
 2   combined_description  973 non-null    object
 3   usda_description      706 non-null    object
 4   irs_description       963 non-null    object
 5   irs_reportable        963 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.1+ KB

In [124]:
mc_code.isna().sum()

mcc                       0
edited_description        0
combined_description      8
usda_description        275
irs_description          18
irs_reportable           18
dtype: int64

## Coding

In [125]:
user_prof = pd.DataFrame()

In [126]:
user_prof["user_id"] = cd_user.user_id

1. Ages in year

In [127]:
# get referrence date from max transaction date
ref_date = max(pd.to_datetime(cd_tst.transaction_datetime))
ref_date

Timestamp('2020-02-28 23:49:03')

In [128]:
user_prof["current_age"] = (ref_date - pd.to_datetime(cd_user.date_of_birth)).dt.days // 365

2. Number of active and expired cards

In [129]:
from pandas.tseries.offsets import MonthEnd

# pd.to_datetime(cd_card["expires"]).dt.strftime('%Y-%m')
tempDate = pd.to_datetime(cd_card["expires"], format="%m/%Y")
tempExp = pd.DataFrame((tempDate - ref_date).dt.days)

tempExp["user_id"] = cd_card["user_id"]
tempExp["expired_cards"] = tempExp.expires < 0
test = tempExp.copy()
tempExp = tempExp.groupby(["user_id","expired_cards"])['expires'].agg(['count']).unstack(fill_value=0)

user_prof = pd.merge(user_prof, tempExp, on="user_id")
user_prof.columns = ['user_id', 'current_age', 'active_cards', 'expired_cards']

C:\Users\User\AppData\Local\Temp\ipykernel_16556\475938028.py:12: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  user_prof = pd.merge(user_prof, tempExp, on="user_id")

In [130]:
user_prof

,user_id,current_age,active_cards,expired_cards
0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,53,4,1
1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,53,4,1
2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,81,4,1
3,acab43d2-f982-47a1-9b4f-d018d069ae16,63,3,1
4,80884e14-f347-48c3-8848-768e4c33d693,43,1,0
...,...,...,...,...
245,2c4e57b3-7314-48fc-8e33-3325fc13c990,18,0,1
246,9b9ce53a-d20d-499c-a1a3-4e3eb9b56917,50,2,0
247,91c1a49f-ed8d-4b31-943f-d1300b2560b6,68,2,0
248,b4fa8930-c642-49ca-be86-7b031dd46067,26,0,1
249,3314e0d1-ce54-4f22-a04e-31bb78492bda,40,1,0

3. Total credit limit of active cards

4. Time since first card openned (acct_open_date) in months

15. All-time fraud transaction percentage

In [131]:
alltime = pd.DataFrame()
# alltime['all_time_fraud_tx_count'] = cd_tst[]
temp = cd_tst.groupby(['user_id'])['is_fraud'].count()
temp

user_id
01598693-3b8a-424c-b7e1-e7f6a1119702    23152
01c0d742-95e2-4e9a-a9e9-f7f0ec82ecb0    24921
0326d7bb-0c79-4523-905f-c068bb4a3ebf    26125
03625f24-31c9-4e60-b3ad-4d7625985890     4174
03a0d364-2e63-4360-8080-18fb5db7596e    13251
                                        ...
fa17bb1e-fbbc-4ed5-8ec9-b0d8d74a4b24     5190
fbf5e722-0deb-4d6a-9a55-90a5659c92a6    23333
fddc40fe-3311-4cb4-aaf4-44f0c4085ac7    28237
fe168d02-7f8c-40db-a35b-f9da97424728      125
fee3c997-55f6-4995-945a-506a778c1733      242
Name: is_fraud, Length: 250, dtype: int64

16. All-time median duration between transaction in hours

In [132]:
amdbt = pd.DataFrame()
amdbt['user_id'] = cd_tst_valid['user_id']
amdbt['transaction_datetime'] = pd.to_datetime(cd_tst_valid['transaction_datetime'])
amdbt.sort_values(by=['user_id', 'transaction_datetime'], inplace=True)

amdbt['id_shift'] = amdbt['user_id'].shift(1)
amdbt['time_shift'] = amdbt['transaction_datetime'].shift(1)

amdbt.drop(amdbt[ amdbt['user_id'] != amdbt['id_shift'] ].index, inplace=True)
amdbt.drop(columns=['id_shift'], inplace=True)
amdbt['diff'] = (amdbt['transaction_datetime'] - amdbt['time_shift']).astype('timedelta64[h]')
amdbt = amdbt.groupby(['user_id'])['diff'].agg(all_time_median_time_between_tx_hours='median').reset_index()

user_prof = pd.merge(user_prof, amdbt, on="user_id")
user_prof.head(10)
# amdbt

,user_id,current_age,active_cards,expired_cards,all_time_median_time_between_tx_hours
0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,53,4,1,5.0
1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,53,4,1,11.0
2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,81,4,1,2.0
3,acab43d2-f982-47a1-9b4f-d018d069ae16,63,3,1,6.0
4,80884e14-f347-48c3-8848-768e4c33d693,43,1,0,5.0
5,709c2790-8f93-4e27-83fb-dad9ea3647c3,42,2,1,3.0
6,fddc40fe-3311-4cb4-aaf4-44f0c4085ac7,36,3,0,3.0
7,f0f1033b-aaa1-4e81-aa02-ed10b788a08d,26,1,0,4.0
8,ca371403-8abe-459b-873b-0aa1e61557a5,81,4,1,2.0
9,eda2429c-2528-4ab0-9ba0-ec0f541433db,34,1,0,1.0

17. All-time average monthly transaction count (do not consider month with no transaction)

In [133]:
########## problem with answer sheet ;-;

aamtc = pd.DataFrame()
aamtc['user_id'] = cd_tst['user_id']
aamtc['transaction_datetime'] = pd.to_datetime(cd_tst['transaction_datetime'])
aamtc['value'] = 1
aamtc = aamtc.groupby(['user_id', pd.Grouper(freq='1M', key='transaction_datetime')])['value'].agg(['count']).reset_index()
aamtc.drop(aamtc[aamtc['count'] == 0].index)
aamtc = aamtc.groupby(['user_id'])['count'].agg(['mean']).reset_index()
# aamtc
user_prof = pd.merge(user_prof, aamtc, on="user_id")
user_prof.head(10)

,user_id,current_age,active_cards,expired_cards,all_time_median_time_between_tx_hours,mean
0,4e98b4b9-f30f-4117-bf0b-49c6b550aba6,53,4,1,5.0,95.061905
1,8e283e3b-fb65-4d2a-9c7e-b515c94d8402,53,4,1,11.0,44.595000
2,8c9b9223-c41c-4999-9cff-f72b9c4bcf7c,81,4,1,2.0,194.342593
3,acab43d2-f982-47a1-9b4f-d018d069ae16,63,3,1,6.0,64.439490
4,80884e14-f347-48c3-8848-768e4c33d693,43,1,0,5.0,75.991803
5,709c2790-8f93-4e27-83fb-dad9ea3647c3,42,2,1,3.0,99.486239
6,fddc40fe-3311-4cb4-aaf4-44f0c4085ac7,36,3,0,3.0,158.634831
7,f0f1033b-aaa1-4e81-aa02-ed10b788a08d,26,1,0,4.0,118.000000
8,ca371403-8abe-459b-873b-0aa1e61557a5,81,4,1,2.0,127.704918
9,eda2429c-2528-4ab0-9ba0-ec0f541433db,34,1,0,1.0,141.736434

18. All-time average monthly amount (do not consider month with no transaction)

19. All-time transaction method distribution ( use_chip column)